* {
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}

.box{
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 0.8em; 
    height: 50px;
    line-height: 50px;
    font-weight: lighter;
    text-transform: uppercase;
}

.logo a{
    text-decoration: none;    
    color: #111344;
}

.logo a:hover{   
    color: #4b4d83;
}

.logo a h1{
    font-weight: normal;
}

header nav{
    float: right;
}

header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li{
    list-style: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: .2s;
    /* font-weight: bold; */
}

header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: #111344;
    text-decoration: none;
}

header nav ul li:hover a{
    color: #fff;
}

header nav ul li:hover {
    background-color: #4b4d83;
}

.fas{
    color: #111344;
}

.menu-toggle{   
    line-height: 50px;
    float: right;
    font-size: 1.2em;
    cursor: pointer;
    display: none;
}


@media(max-width: 910px){
    header{
        padding: 0 20px
    }
    .menu-toggle{
        display: block;
    }
    header nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        top: 50px;
        left: -100%;
        background-color: #eeeeee;
        transition: 0.5s;
    }
    /* header nav.active{
        left: 0;
    } */
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li{
        border-bottom: 1px solid #00000010;
    }
    header nav ul li:last-child{
        border:none;
    }
}