.img-contato{
    color: #fff;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    background-image: url("../images/hands.jpg");  
    background-color: #d89400; 
    text-shadow: #000 3px 3px 3px;
    width: 100%;
    height: 160px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-formulario{
    display: flex;
    justify-content: center;
}

.formulario-contato{
    width: 85%;
    max-width: 900px;
    padding: 30px 40px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}

.formulario-contato > div{
    position: relative;
}

.formulario-contato > h2{
    margin-top: 0;
    font-weight: 200;
    font-size: 3em;
    color: #fff;
    text-shadow: #000 3px 3px 3px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.formulario-contato > div > label{
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    color: #2c2b2b;
    position: absolute;
    pointer-events: none;
    transition: .5s;
    left: 7%;
    bottom:50%;
}

.label-message{
    bottom:83% !important;
}


.box-termos{
    display: flex;
    box-sizing: border-box;
    padding-left: 5%;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 5px;
}

.box-termos > label{
    top: -2px;
}

.botao-formulario{
    font-size: 16px;
    display: inline-block;
    background: #003D5B;     
    padding: 14px 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    width: 90%;
    border:none;
    outline: none;
}

.botao-formulario:hover{
    background-color: #30638E;
}

.txt{
    width: 90%;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    margin-top: 16px;
    border-bottom: #003D5B 2px solid;
    transition: 0.25s;
    top: 0;
    left: 0;
    margin-bottom: 30px; 
    color: #fff;
    resize: none;
}

.txt:focus{
    width: 100%;
    border-bottom: #30638E 2px solid;
}

.txt:valid ~ label,
.txt:focus ~ label{
    top: -18px;
    color: #30638E;
    font-size: 14px;
}

.txt:hover{
    border-bottom: #30638E 2px solid;
}


.conteudo-formulario{
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    flex-wrap: wrap;
}

.box-form{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.box-social{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    cursor: pointer;
}

.box-mapa{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
}

.titulo-formulario{
    font-size: 36px;
    color: #003D5B;
    font-family: 'Oswald', sans-serif;
    width: 800px;
}

.titulo-texto{
    color: #003D5B;
    font-size: 22px;
    display: block;
    padding: 10px 0px;
}

.texto-formulario{
    color: #000;
    font-size: 16px;
    display: block;
    padding: 10px 0px;
}
